<div class="row">
  <div class="col-sm-10">
    <input type="text" [(ngModel)]="taskRequest.url">
  </div>
  <div class="col-sm-2">
    <button class="btn btn-primary-outline" (click)="newTask()">ADD</button>
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th>created</th>
    <th>url</th>
    <th>status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let task of tasks">
      <td>{{task.created | date}}</td>
      <td><a href="{{task.url}}">{{task.url}}</a></td>
      <td>
        {{task.status}}
        <button class="btn btn-sm btn-primary" (click)="toWaiting(task)" *ngIf="task.status=='ERROR'">reset</button>
      </td>
  </tr>
  </tbody>
</table>
